{% extends 'base.html' %}
{% block content %}

<style>
    img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 20px auto;
        }
    p {
        margin-bottom: 20px;
    }
    h1 {
            margin-bottom: 20px;
        }
</style>

<div class="paralax"></div>
<div class="container text-white">
    <section>
        <h2>Наша миссия</h2>
        <p>
            Мы - творческая команда энтузиастов, объединенных общей страстью к созданию захватывающих игр. Наша миссия - подарить вам уникальные игровые впечатления, заставить вас улыбнуться и вдохновиться.
        </p>
    </section>
    <section>
        <h2>Наши ценности</h2>
        <ul>
            <li><strong>Творчество:</strong> Мы ценим креативность и самовыражение. Каждая игра - это произведение искусства.</li>
            <li><strong>Увлечение:</strong> Мы любим то, что делаем, и наша страсть к играм отражается в каждой детали.</li>
            <li><strong>Ответственность:</strong> Мы относимся к нашей работе серьезно и всегда стремимся быть лучше.</li>
        </ul>
    </section>
    <section>
        <h2>Наши игры</h2>
        <p>
            У нас есть игры на любой вкус и возраст. От захватывающих приключений и стратегических сражений до красочных головоломок и веселых аркад. Мы уверены, что каждый найдет у нас что-то по душе.
        </p>
    </section>
    <section>
        <h2>О нашей команде</h2>
        <p>
            Наша команда состоит из талантливых профессионалов с многолетним опытом в индустрии игр. Мы стремимся создавать продукты, которые приносят радость и удовлетворение нашим игрокам.
        </p>
        <img src="/static/image/team.jpg" class="w-75" alt="Наша команда">
    </section>
</div>

{% endblock %}